project_name = "parcial-valero-rincon"
environment  = "prod"
aws_region   = "us-east-1"

vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.11.0/24", "10.0.12.0/24"]

ec2_instance_type     = "t3.micro"
ec2_count             = 2
key_pair_name         = "vockey"
instance_profile_name = "LabInstanceProfile"

app_port        = 3000
app_repo_url    = "https://github.com/anferile/valero-rincon-parcial.git"
app_repo_branch = "main"
app_subdir      = "app"

db_engine_version    = "8.0.46"
db_instance_class    = "db.t3.micro"
db_allocated_storage = 20
db_name              = "appdb"
db_username          = "appuser"
db_password          = "ParcialValero2026"
create_read_replica  = true

allowed_ssh_cidr = "0.0.0.0/0"
